<div>
<!-- <div>
    <app-test></app-test>
</div> -->
<!-- <div>
    <app-interpolation></app-interpolation>
</div> -->
<div>
    <app-property></app-property>
</div>
<!-- <div>
    <app-event></app-event>
</div> -->
<!-- <app-twowaydatabinding></app-twowaydatabinding> -->
<!-- <div>
    <app-differenceeventandtwoway></app-differenceeventandtwoway>
</div> -->
<!-- <div>
    <app-ifdirective></app-ifdirective>
</div> -->
<!-- <div>
    <app-switchdirective></app-switchdirective>
</div> -->
<!-- <div>
    <app-fordirective></app-fordirective>
</div> -->
<div>
    <app-parentcomponent></app-parentcomponent>
</div>
</div>
